  <!-- Page Title -->
  <div class="page-title dark-background">
    <div class="container position-relative">
      <h1>Portfolio Details</h1>
      <nav class="breadcrumbs">
        <ol>
          <li><a href="index.html">Home</a></li>
          <li class="current">Portfolio Details</li>
        </ol>
      </nav>
    </div>
  </div><!-- End Page Title -->

<!-- Portfolio Details Section -->
<section id="portfolio-details" class="portfolio-details section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4">
      <!-- Slider Section -->
      <div class="col-lg-8">
        <div class="portfolio-details-slider swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
          </script>
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide">
              <img [src]="product?.product_link" alt="Product Image">
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

      <!-- Product Info Section -->
      <!-- Product Info Section -->
<div class="col-lg-4">
  <div *ngIf="product">
    <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
      <h3>{{ product.product_label }}</h3>
      <ul>
        <li><strong>Category</strong>: {{ product.categorie }}</li>
        <!-- Afficher seulement si le site Web existe -->
        <li *ngIf="product.product_website"><strong>Project URL</strong>: 
          <a [href]="product.product_website" target="_blank">{{ product.product_website }}</a>
        </li>
      </ul>
    </div>
    
    <!-- Product Description Section -->
    <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
      <p>{{ product.product_description }}</p>
    </div>
  </div>
</div>


    </div>
  </div>
</section><!-- /Portfolio Details Section -->
