<!-- Page Title -->
<div class="page-title dark-background">
    <div class="container position-relative">
        <h1>Our News</h1>
        <p>
            Stay updated with the latest advancements and updates from TornixTech.
            We are constantly working on innovative solutions to meet the evolving needs of our clients.
            Our team is dedicated to sharing insights, trends, and news to help you stay ahead in the fast-paced tech
            world.
            Check back regularly for exciting news and developments.
        </p>
        <nav class="breadcrumbs">
            <ol>
                <li><a href="index.html">Home</a></li>
                <li class="current">News</li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->

<!-- Blog Section -->
<section id="blog" class="blog section">
    <div class="container my-5">
        <div class="row">

            <div class="card-body p-4">
                <h3 class="text-center fw-bold mb-3">Latest news and blog posts</h3>
                <hr>
                <br>
                <div class="d-flex mb-3">
                    <span class="badge bg-danger me-2">BUSINESS</span>
                    <span class="text-secondary small ms-auto">16 octobre 2024</span>
                    <!-- <span class="badge bg-danger me-2">NEWS</span> -->
                </div>
                <!-- <div class="text-secondary mb-2 small">
                    Ethan Caldwell on October 16, 2024
                </div> -->
                <h5 class="fw-bold">How Tech Shapes the Future of Work in 2024</h5>
                <p class="text-secondary">
                    Explore our blog posts and discover the latest trends in technology...
                </p>
                <a href="#" class="btn btn-custom-outline-primary btn-sm">Read more</a>                
            </div>


            <div class="col-lg-8">

                <div class="card mb-4 rounded-3 shadow-sm border-0">
                    <div class="overflow-hidden rounded-3">
                        <img src="https://placehold.co/800x400/ff7863/fff" class="card-img-top" alt="Tech Image"
                            style="width: 100%; height: auto;">
                    </div>
                    <div class="card-body p-4">
                        <div class="d-flex mb-3">
                            <span class="badge bg-danger me-2">BUSINESS</span>
                            <span class="badge bg-danger me-2">NEWS</span>
                        </div>
                        <div class="text-secondary mb-2 small">
                            Ethan Caldwell on October 16, 2024
                        </div>
                        <h2 class="fw-bold">How Tech Shapes the Future of Work in 2024</h2>
                        <p class="text-secondary">
                            In today's ever-evolving world, storytelling has become a powerful tool for connection.
                            Revision provides a unique platform for individuals to share...
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card mb-3 rounded-3 shadow-sm border-0" style="border-radius: 10px;">
                    <div class="row g-0">
                        <div class="col-8">
                            <div class="card-body">
                                <div class="text-secondary small">
                                    Ethan Caldwell on September 29, 2024
                                </div>
                                <h5 class="fw-bold">The Future of Work: Tech and Remote Trends</h5>
                                <p class="text-secondary small">
                                    Find out why 2024 is predicted to be a pivotal year for sports...
                                </p>
                                <div class="mt-2">
                                    <span class="badge bg-light text-dark me-2">SPORT</span>
                                    <span class="badge bg-light text-dark me-2">TRAVEL</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="h-100 overflow-hidden">
                                <img src="https://placehold.co/200x200/8A85FF/fff"
                                    class="img-fluid h-100 w-100 object-fit-cover" alt="Tech Image">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3 rounded-3 shadow-sm border-0">
                    <div class="row g-0">
                        <div class="col-8">
                            <div class="card-body">
                                <div class="text-secondary small">
                                    Ethan Caldwell on September 27, 2024
                                </div>
                                <h5 class="fw-bold">Remote Work Trends in the Digital Age</h5>
                                <p class="text-secondary small">
                                    Discover the cutting-edge tech gadgets making travel smarter and more...
                                </p>
                                <div class="mt-2">
                                    <span class="badge bg-light text-dark me-2">NEWS</span>
                                    <span class="badge bg-light text-dark me-2">TRENDS</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="h-100 overflow-hidden">
                                <img src="https://placehold.co/200x200/FFBD59/fff"
                                    class="img-fluid h-100 w-100 object-fit-cover" alt="Digital Age Image">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="card mb-4 rounded-3 shadow-sm border-0">
                    <div class="row g-0">
                        <div class="col-8">
                            <div class="card-body">
                                <div class="text-secondary small">
                                    Ethan Caldwell on September 25, 2024
                                </div>
                                <h5 class="fw-bold">Business Travel Tools for the Digital Age</h5>
                                <p class="text-secondary small">
                                    Learn how startups are leveraging data to fuel growth and scale in...
                                </p>
                                <div class="mt-2">
                                    <span class="badge bg-light text-dark me-2">BUSINESS</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="h-100 overflow-hidden">
                                <img src="https://placehold.co/200x200/8877DD/fff"
                                    class="img-fluid h-100 w-100 object-fit-cover" alt="Business Tools Image">
                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="card-body p-4">
                    <div class="d-flex mb-3">
                        <span class="badge bg-danger me-2">BUSINESS</span>
                        <span class="badge bg-danger me-2">NEWS</span>
                    </div>
                </div>
                <br><br>

            </div>


            <hr>


        </div>
    </div>
</section><!-- /Blog Section -->