.btn-custom-outline-primary {
  display:inline-block; padding:8px 16px; border:2px solid #1e4356; border-radius:4px; color:#1e4356; border-color:#1e4356; background-color:transparent; text-decoration:none;
}

.btn-custom-outline-primary:hover {
  background-color:#1e4356; color:white;
}

.border-custom {
  border-left:4px solid #1e4356 !important;
}

.meta-label {
  // Bleu Bootstrap; 
  // color:#0d6efd; 
  color:#6c757d;
  
}