<app-header></app-header>

<!-- Page Title -->
<div class="page-title dark-background">
    <div class="container position-relative">
        <h2 class="head-title">🚀 Create your PRO website in 48 hours - for only <span class="highlight">49.000 FCFA</span></h2>
        <p>A fast, professional site, 100% tailored to your needs</p>
        <nav class="breadcrumbs">
            <ol>
                <li><a href="index.html">Home</a></li>
                <li class="current">Webexpress</li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->

<!-- Pricing Section -->
<section id="pricing" class="pricing section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Webexpress</h2>
        <!-- <p>Explorez nos forfaits de création de sites web adaptés à vos besoins professionnels.</p> -->
        <p>Explore our website creation packages tailored to your business needs.</p>

    </div>
    <!-- End Section Title -->

    <div class="container">

        <div class="row g-4 g-lg-0">

            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="pricing-item">
                    <h3>Mini</h3>
                    <h4>49.000<sup>FCFA</sup></h4>
                    <ul>
                        <!-- <li><i class="bi bi-check"></i> <span>Site vitrine (5 pages max)</span></li>
                        <li><i class="bi bi-check"></i> <span>Design moderne & responsive</span></li>
                        <li><i class="bi bi-check"></i> <span>Hébergement + Domaine inclus (1 an)</span></li>
                        <li><i class="bi bi-check"></i> <span>Formulaire de contact</span></li> -->
                        <li><i class="bi bi-check"></i> <span>1 showcase web page</span></li>
                        <li><i class="bi bi-check"></i> <span>1 professionally designed web page</span></li>
                        <li><i class="bi bi-check"></i> <span>Free .com domain name for the 1st year</span></li>
                        <li><i class="bi bi-check"></i> <span>Contact form or WhatsApp button</span></li>
                        <li><i class="bi bi-check"></i> <span>48-hour delivery guaranteed</span></li>
                        <li><i class="bi bi-check"></i> <span>24/7 customer support</span></li>
                    </ul>

                    <div class="text-center" style="cursor: pointer;">
                        <a class="buy-btn" data-bs-toggle="modal" data-bs-target="#subscribeModal"
                            (click)="setPlanDetails('Standard Pack', '150000', 'Showcase site (up to 5 pages), Modern & responsive design, Hosting + Domain included (1 year), Contact form')">
                            Buy Now
                        </a>
                    </div>
                </div>
            </div><!-- End Pricing Item -->

            <div class="col-lg-4 featured" data-aos="zoom-in" data-aos-delay="200">
                <div class="pricing-item">
                    <h3>Standard</h3>
                    <h4>89.000<sup>FCFA</sup></h4>
                    <ul>
                        <!-- <li><i class="bi bi-check"></i> <span>Tout le Pack Standard +</span></li>
                        <li><i class="bi bi-check"></i> <span>Blog intégré</span></li>
                        <li><i class="bi bi-check"></i> <span>Formulaire avancé & WhatsApp intégré</span></li>
                        <li><i class="bi bi-check"></i> <span>Optimisation SEO de base</span></li> -->
                        <li><i class="bi bi-check"></i> <span>3 pages (Home, About, Contact)</span></li>
                        <!-- <li><i class="bi bi-check"></i> <span>Integrated blog</span></li>
                        <li><i class="bi bi-check"></i> <span>Advanced contact form & WhatsApp integration</span></li>
                        <li><i class="bi bi-check"></i> <span>Basic SEO optimization</span></li> -->
                    </ul>
                    <div class="text-center" style="cursor: pointer;">
                        <a class="buy-btn" data-bs-toggle="modal" data-bs-target="#subscribeModal"
                            (click)="setPlanDetails('Pro Pack', '250000', 'All features of the Standard Pack +, Integrated blog, Advanced contact form & WhatsApp integration, Basic SEO optimization')">
                            Buy Now
                        </a>
                    </div>
                </div>
            </div><!-- End Pricing Item -->

            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="pricing-item">
                    <h3>Business</h3>
                    <h4>149.000<sup>FCFA</sup></h4>
                    <ul>
                        <!-- <li><i class="bi bi-check"></i> <span>Tout le Pack Pro +</span></li>
                        <li><i class="bi bi-check"></i> <span>Boutique en ligne avec gestion des produits</span></li>
                        <li><i class="bi bi-check"></i> <span>Paiement en ligne intégré</span></li>
                        <li><i class="bi bi-check"></i> <span>Tableau de bord pour suivi des ventes</span></li> -->
                        <li><i class="bi bi-check"></i> <span>Complete website + blog or store</span></li>
                        <!-- <li><i class="bi bi-check"></i> <span>Online store with product management</span></li>
                        <li><i class="bi bi-check"></i> <span>Online payment integration</span></li>
                        <li><i class="bi bi-check"></i> <span>Dashboard for sales tracking</span></li> -->
                    </ul>
                    <div class="text-center" style="cursor: pointer;">
                        <a class="buy-btn" data-bs-toggle="modal" data-bs-target="#subscribeModal"
                            (click)="setPlanDetails('Pack E-commerce', '350000', 'All features of the Pro Pack +, Online store with product management, Online payment integration, Dashboard for sales tracking')">
                            Buy Now
                        </a>
                    </div>
                </div>
            </div><!-- End Pricing Item -->

            <!-- <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="pricing-item">
                    <h3>Options Supplémentaires</h3>
                    <h4>350.000<sup>FCFA</sup></h4>
                    <ul>
                        <li><i class="bi bi-check"></i> <span>Tout le Pack Pro +</span></li>
                        <li><i class="bi bi-check"></i> <span>Boutique en ligne avec gestion des produits</span></li>
                        <li><i class="bi bi-check"></i> <span>Paiement en ligne intégré</span></li>
                        <li><i class="bi bi-check"></i> <span>Tableau de bord pour suivi des ventes</span></li>
                    </ul>
                    <div class="text-center" style="cursor: pointer;">
                        <a class="buy-btn" data-bs-toggle="modal" data-bs-target="#subscribeModal"
                            (click)="setPlanDetails('Pack E-commerce', '350000', 'Tout le Pack Pro +, Boutique en ligne avec gestion des produits, Paiement en ligne intégré, Tableau de bord pour suivi des ventes')">
                            Buy Now
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="400">
                <div class="pricing-item">
                    <h3>Options Supplémentaires</h3>
                    <ul>
                        <li><i class="bi bi-check"></i> <span>SEO Avancé – 50.000 FCFA</span></li>
                        <li><i class="bi bi-check"></i> <span>Maintenance & Hébergement annuel – 100.000 FCFA</span>
                        </li>
                        <li><i class="bi bi-check"></i> <span>Support + mises à jour techniques</span></li>
                    </ul>
                    <div class="text-center" style="cursor: pointer;">
                        <a class="buy-btn" data-bs-toggle="modal" data-bs-target="#subscribeModal"
                            (click)="setPlanDetails('Options Supplémentaires', '50000', 'SEO Avancé, Maintenance & Hébergement annuel, Support + mises à jour techniques')">
                            Plus d'infos
                        </a>
                    </div>
                </div>
            </div> -->

        </div>

    </div>


    <!-- Modal -->
    <div class="modal fade" id="subscribeModal" tabindex="-1" aria-labelledby="subscribeModalTitle" aria-hidden="true"
        (hidden.bs.modal)="closePaymentModal()">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="subscribeModalTitle">Request a Quote</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        (click)="closePaymentModal()"></button>
                </div>
                <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
                    <div class="modal-body">

                        <!-- Display selected plan details -->
                        <div class="pricing-item mb-3" style="background: #68a4c4;">
                            <h3 style=" color: white;">{{ selectedPlan.title }}</h3>
                            <h4 style=" color: white;">{{ selectedPlan.amount }}<sup>FCFA</sup></h4>
                            <ul style=" color: white;">
                                <li *ngFor="let feature of selectedPlan.features">
                                    <i class="bi bi-check"></i> <span>{{ feature }}</span>
                                </li>
                            </ul>
                        </div>

                        <!-- User input fields -->
                        <div class="row mb-3">
                            <div class="col-6">
                                <label class="form-label">First Name</label>
                                <input type="text" class="form-control" formControlName="firstname" required>
                            </div>
                            <div class="col-6">
                                <label class="form-label">Last Name</label>
                                <input type="text" class="form-control" formControlName="lastname" required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12">
                                <label class="form-label">Email</label>
                                <input type="email" class="form-control" formControlName="email" required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12">
                                <label class="form-label">Phone</label>
                                <input type="text" class="form-control" formControlName="mobile" required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12">
                                <label class="form-label">Country</label>
                                <input type="text" class="form-control" formControlName="country" required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12">
                                <label class="form-label">City</label>
                                <input type="text" class="form-control" formControlName="city" required>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" *ngIf="!is_loading">Confirm</button>
                        <!-- Buttons Spinners -->
                        <button class="btn btn-primary me-1" type="button" *ngIf="is_loading" disabled>
                            <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                            Loading...
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1100">
        <div id="successToast" class="toast align-items-center text-bg-success border-0" role="alert"
            aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body" id="successToastBody">
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
        </div>

        <div id="errorToast" class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive"
            aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body" id="errorToastBody">
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
        </div>
    </div>

</section><!-- /Pricing Section -->
<section class="cta">
    <h2>🎁 Offer valid until <strong>Sunday, June 16</strong></h2>
    <p>Hurry up – the promo is limited to 20 websites this month!</p>
    <a href="https://wa.me/2250700000000?text=I want to take advantage of the WebExpress offer now" class="cta-button">
        💬 Book now on WhatsApp
    </a>
</section>

<section class="testimonial section">
    <h2>💬 They trust us</h2>
    <blockquote>
        “TornixTech delivered my website in 2 days. Thanks to them, my clients contact me directly via WhatsApp!”
    </blockquote>
    <p>– Fatou, Hairdresser in Abidjan</p>
</section>

<section class="extras section">
    <h2>🔧 Additional services</h2>
    <ul>
        <li>📧 Professional email address – <strong>25,000 FCFA/year</strong></li>
        <li>💳 Online payment (Mobile Money, Card) – <strong>from 39,000 FCFA</strong></li>
        <li>📍 Google Business listing – <strong>15,000 FCFA</strong></li>
        <li>📲 Digital business card – <strong>9,000 FCFA</strong></li>
    </ul>
    <p><em>You can add these options after placing your order.</em></p>
</section>

<section class="contact section">
    <h2>📱 Let’s talk about your website</h2>
    <p>A TornixTech advisor is available to answer you now.</p>
    <a href="https://wa.me/2250700000000?text=Hello%20TornixTech,%20I%20want%20to%20create%20a%20WebExpress%20website" class="cta-button">
        💬 Chat on WhatsApp
    </a>
</section>

<app-footer></app-footer>
<a href="https://wa.me/2250700000000?text=Bonjour%20TornixTech,%20je%20souhaite%20créer%20un%20site%20WebExpress" class="floating-whatsapp">
    💬
</a>
