<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

    <a [routerLink]="['/main/home']" class="logo d-flex align-items-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <img src="../../../../assets/img/logo-tornixtech/tornixtech-blue-logo-removebg-preview.png" alt="">
      <h1 class="sitename"></h1>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a [routerLink]="['/main/home']" routerLinkActive="router-link-active">Home</a></li>
        <li><a [routerLink]="['/main/about-us']" routerLinkActive="router-link-active">About</a></li>
        <li><a [routerLink]="['/main/services']" routerLinkActive="router-link-active">Services</a></li>
        <li><a [routerLink]="['/main/products']" routerLinkActive="router-link-active">Products</a></li>
        <li><a [routerLink]="['/main/team']" routerLinkActive="router-link-active">Team</a></li>
        <li><a [routerLink]="['/main/contact-us']" routerLinkActive="router-link-active">Contact Us</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

  </div>
</header>