    <!-- Page Title -->
    <div class="page-title dark-background">
        <div class="container position-relative">
          <h1>Team</h1>
          <p>
            Our team at TornixTech is made up of experts with a passion for technological innovation. 
            We work tirelessly to offer high-quality solutions, tailored to the specific needs of each customer, to contribute to their long-term success.
          </p>
          <nav class="breadcrumbs">
            <ol>
              <li><a href="index.html">Home</a></li>
              <li class="current">Team</li>
            </ol>
          </nav>
        </div>
      </div><!-- End Page Title -->
  
      <!-- Team Section -->
      <section id="team" class="team section">
  
        <div class="container">
  
          <div class="row gy-5">
  
            <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="./assets/img/team/Mr_kone.jpeg" class="img-fluid" alt="">
                <div class="social">
                  <!-- <a href="#"><i class="bi bi-twitter-x"></i></a>
                  <a href="#"><i class="bi bi-facebook"></i></a>
                  <a href="#"><i class="bi bi-instagram"></i></a> -->
                  <a href="https://www.linkedin.com/in/kon%C3%A9-dot%C3%A8min-cl%C3%A9ment-7669a448/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
                <p>Aliquam iure quaerat voluptatem praesentium possimus unde laudantium vel dolorum distinctio dire flow</p>
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="./assets/img/team/francis.jpeg" class="img-fluid" alt="">
                <div class="social">
                  <!-- <a href="#"><i class="bi bi-twitter-x"></i></a> -->
                  <a href="https://www.facebook.com/profile.php?id=100088822335085"><i class="bi bi-facebook"></i></a>
                  <!-- <a href="#"><i class="bi bi-instagram"></i></a> -->
                  <a href="https://www.linkedin.com/in/yao-jean-francis-amani-44a96629a/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4>Francis Amani</h4>
                <span>Tech Lead</span>
                <!-- <p>Labore ipsam sit consequatur exercitationem rerum laboriosam laudantium aut quod dolores exercitationem ut</p> -->
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="./assets/img/team/foley.jpeg" class="img-fluid" alt="">
                <div class="social">
                  <!-- <a href="#"><i class="bi bi-twitter-x"></i></a>
                  <a href="#"><i class="bi bi-facebook"></i></a>
                  <a href="#"><i class="bi bi-instagram"></i></a> -->
                  <a href="https://www.linkedin.com/in/roland-landry-kraye-223672253/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4>Landry Kraye</h4>
                <span>FUll-Stark</span>
                <!-- <p>Illum minima ea autem doloremque ipsum quidem quas aspernatur modi ut praesentium vel tque sed facilis at qui</p> -->
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="./assets/img/team/ruth.jpeg" class="img-fluid" alt="">
                <div class="social">
                  <!-- <a href="#"><i class="bi bi-twitter-x"></i></a> -->
                  <a href="https://www.facebook.com/konate.beh.2023"><i class="bi bi-facebook"></i></a>
                  <!-- <a href="#"><i class="bi bi-instagram"></i></a> -->
                  <a href="https://www.linkedin.com/in/beh-konat%C3%A9-8804b7220/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4>Ruth Edi</h4>
                <span>Infograph</span>
                <!-- <p>Magni voluptatem accusamus assumenda cum nisi aut qui dolorem voluptate sed et veniam quasi quam consectetur</p> -->
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="600">
              <div class="member-img">
                <img src="./assets/img/team/bk.jpeg" class="img-fluid" alt="">
                <div class="social">
                  <a href="#"><i class="bi bi-twitter-x"></i></a>
                  <a href="#"><i class="bi bi-facebook"></i></a>
                  <a href="#"><i class="bi bi-instagram"></i></a>
                  <a href="#"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4>Konaté Beh</h4>
                <span>Junior Developer</span>
                <!-- <p>Sint sint eveniet explicabo amet consequatur nesciunt error enim rerum earum et omnis fugit eligendi cupiditate vel</p> -->
              </div>
            </div><!-- End Team Member -->

            <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="600">
              <div class="member-img">
                <img src="./assets/img/team/madji.jpeg" class="img-fluid" alt="">
                <div class="social">
                  <!-- <a href="#"><i class="bi bi-twitter-x"></i></a>
                  <a href="#"><i class="bi bi-facebook"></i></a>
                  <a href="#"><i class="bi bi-instagram"></i></a> -->
                  <a href="https://www.linkedin.com/in/abdoul-madjid-latoundji-a67b13271?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4>Latoundji Abdoul</h4>
                <span>Junior Developer</span>
              </div>
            </div><!-- End Team Member -->


            <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="500">
              <div class="member-img">
                <img src="./assets/img/team/franck.jpeg" class="img-fluid" alt="">
                <div class="social">
                  <!-- <a href="#"><i class="bi bi-twitter-x"></i></a> -->
                  <a href="https://www.facebook.com/franck.touffouo"><i class="bi bi-facebook"></i></a>
                  <!-- <a href="#"><i class="bi bi-instagram"></i></a> -->
                  <a href="https://www.linkedin.com/in/kouakou-franck-touffouo-5215a4294/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4>Franck Touffouo</h4>
                <span>Accounting Assistant</span>
                <!-- <p>Qui consequuntur quos accusamus magnam quo est molestiae eius laboriosam sunt doloribus quia impedit laborum velit</p> -->
              </div>
            </div><!-- End Team Member -->
  
          </div>
  
        </div>
  
      </section><!-- /Team Section -->