<!-- Page Title -->
<div class="page-title dark-background">
    <div class="container position-relative">
        <h1>Our News</h1>
        <p>
            Stay updated with the latest advancements and updates from TornixTech.
            We are constantly working on innovative solutions to meet the evolving needs of our clients.
            Our team is dedicated to sharing insights, trends, and news to help you stay ahead in the fast-paced tech
            world.
            Check back regularly for exciting news and developments.
        </p>
        <nav class="breadcrumbs">
            <ol>
                <li><a href="index.html">Home</a></li>
                <li class="current">News</li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->


<!-- Blog Section -->
<section id="blog" class="blog section">
    <div class="container my-5">
        <div class="row">
            <div class="card-body p-4">
                <h3 class="fw-bold mb-3">Latest news and blog posts</h3>
                <br>
            </div>

            <div class="col-lg-8">
                <!-- Blog item retrieved from: https://insights.tornixtech.com/  -->
                <div *ngFor="let post of news" class="card mb-4 rounded-3 shadow-sm border-0">

                    <div class="card-body p-4">
                        <a [routerLink]="['/main/news/blog-post/blog-post-details']">
                            <h5 class="fw-bold mb-3">Technology</h5>
                        </a>
                        <div class="blog-post">
                            <h3 class="fw-bold">{{ post.title.rendered }}</h3>
                            <p class="text-secondary" [innerHTML]="post.excerpt.rendered"></p>
                            <br>

                            <div class="text-secondary mb-2 small">
                                <span class="bi-person me-1"> Author :</span>{{ post.author }}
                                <span class="bi-calendar ms-2 me-1"> Published :</span> {{ post.date }}
                                <!-- <span class="bi-calendar ms-2 me-1"> Published :</span> {{ post.date:'mediumDate' }} -->
                            </div>
                            <div class="d-flex mb-3 justify-content-end">
                                <div class="ms-auto">
                                    <a [routerLink]="['/main/news/blog-post/blog-post-details', post.id]"
                                        class="btn btn-custom-outline-primary btn-sm">
                                        Read more
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="container py-4">
                    <!-- Section Profil -->
                    <div class="d-flex align-items-center mb-4">

                    </div>


                    <!--  -->
                    <div class="mt-4">
                        <h5 class="fw-bold mb-3">Recent post</h5>
                    </div> <!--  -->

                    <!-- <hr> -->


                    <div *ngFor="let post of news" class="card mb-4 rounded-3 shadow-sm border-0">
                        <div class="card-body p-4">
                            <a [routerLink]="['/main/news/blog-post/blog-details']">
                                <h5 class="fw-bold mb-3">Technology</h5>
                            </a>
                            <div class="blog-post">
                                <h3 class="fw-bold">{{ post.title.rendered }}</h3>
                                <p class="text-secondary" [innerHTML]="post.excerpt.rendered"></p>
                                <br>

                                <div class="text-secondary mb-2 small">
                                    <span class="bi-person me-1"> Author :</span>{{ post.author }}
                                    <span class="bi-calendar ms-2 me-1"> Published :</span> {{ post.date }}
                                </div>
                                <!-- <div class="d-flex mb-3 justify-content-end">
                                <div class="ms-auto">
                                    <a [routerLink]="['/main/news/blog-post/blog-details', post.id]"
                                        class="btn btn-custom-outline-primary btn-sm">
                                        Read more
                                    </a>
                                </div>
                            </div> -->
                            </div>
                        </div>
                    </div>

                </div>


                <!--  -->
                <!-- <div class="card-body p-4">
                    <div class="d-flex mb-3">
                        <span class="badge bg-danger me-2">POSTS</span>
                        <span class="badge bg-danger me-2">NEWS</span>
                        <span class="badge bg-danger me-2">ARTICLES</span>
                    </div>
                </div> -->
                <!--  -->
                <br><br>

            </div>

            <!-- <div class="row mt-5">
                <div class="col-12">
                    <app-pagination [totalItems]="totalNewsItems" [itemsPerPage]="newsPerPage"
                        [currentPage]="currentPage" (pageChanged)="onPageChange($event)">
                    </app-pagination>
                </div>
            </div> -->

        </div>
    </div>
</section><!-- /Blog Section -->