.img-fluid {
  height:auto; max-width:50%;
}

.service-btn {
  width:15%; border-radius:30px; background:#1e4356; color:#fff; -webkit-border-radius:30px; -moz-border-radius:30px; -ms-border-radius:30px; -o-border-radius:30px;
}