<!-- Hero Section -->
<section id="hero" class="hero section dark-background">

  <!-- <img src="assets/img/hero-bg.jpg" alt="" data-aos="fade-in"> -->

  <div id="hero-carousel" class="carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

    <div class="container position-relative">

      <div class="carousel-item active">
        <div class="carousel-container">
          <h2>Welcome to Tornixtech</h2>
          <p>
            Turns your ideas into reality <br>
            Innovate solution for Modern Needs
          </p>

          <!-- <a href="#about" class="btn-get-started">Read More</a> -->
        </div>
      </div><!-- End Carousel Item -->


      <!-- <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>
      -->

      <ol class="carousel-indicators"></ol>

    </div>

  </div>

</section><!-- /Hero Section -->


<!-- Featured Services Section -->
<section id="featured-services" class="featured-services section">
  <div class="container">

    <div class="section-head center wt-small-separator-outer">
      <div class="wt-small-separator site-text-primary">
        <div class="sep-leaf-left"></div>
        <div>Our Services</div>
      </div>
      <h2 class="wt-title">We Provide Best Services</h2>
    </div>

    <div class="row gy-4">

      <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item item-cyan position-relative">
          <div class="icon">
            <i class="bi bi-credit-card"></i>
          </div>
          <a [routerLink]="['/services/webexpress']" class="stretched-link">
            <h3>Webexpress</h3>
          </a>
          <p>
            Discover our flexible pricing plans tailored to suit your needs.
            Whether you’re looking for essential features or premium solutions, we offer transparent and competitive
            rates to help you get the most value for your investment.
          </p>
        </div>
      </div><!-- End Service Item -->

      <!-- <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item item-cyan position-relative">
          <div class="icon">
            <i class="bi bi-credit-card"></i>
          </div>
          <a [routerLink]="['/main/services']" class="stretched-link">
            <h3>WebPress</h3>
          </a>
          <p>
            Discover our flexible pricing plans tailored to suit your needs.
            Whether you’re looking for essential features or premium solutions, we offer transparent and competitive
            rates to help you get the most value for your investment.
          </p>
        </div>
      </div> -->
      <!-- End Service Item -->

      <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item item-cyan position-relative">
          <div class="icon">
            <i class="bi bi-shield-lock"></i>
          </div>
          <a [routerLink]="['/main/services']" class="stretched-link">
            <h3>Cyber security</h3>
          </a>
          <p>
            Protect your business with our comprehensive cyber security services. We provide risk assessments,
            vulnerability management, and security solutions to safeguard your digital assets, ensuring compliance and
            protection against cyber threats.
          </p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-3" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item item-orange position-relative">
          <div class="icon">
            <i class="bi bi-code-square"></i>
          </div>
          <a [routerLink]="['/main/services']" class="stretched-link">
            <h3>Customized software development</h3>
          </a>
          <p>
            Our team creates bespoke software solutions tailored to your specific business needs. We ensure that our
            development process aligns with your goals, offering scalable, secure, and efficient applications to enhance
            your operations.
          </p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-3" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item item-teal position-relative">
          <div class="icon">
            <i class="bi bi-kanban"></i>
          </div>
          <a [routerLink]="['/main/services']" class="stretched-link">
            <h3>IT project management</h3>
          </a>
          <p>
            We provide expert management services for your IT projects, ensuring timely delivery, budget control, and
            successful implementation.
            Our approach involves seamless coordination, risk management, and resource allocation to achieve your goals.
          </p>
        </div>
      </div><!-- End Service Item -->

      <!-- <div class="col-lg-3" data-aos="fade-up" data-aos-delay="400">
        <div class="service-item item-red position-relative">
          <div class="icon">
            <i class="bi bi-diagram-3"></i>
          </div>
          <a [routerLink]="['/main/services']" class="stretched-link">
            <h3>Systems integration</h3>
          </a>
          <p>
            We specialize in integrating various software and hardware systems into a unified, efficient, and scalable
            solution, ensuring that your infrastructure works harmoniously to support business operations.
          </p>
          <a [routerLink]="['/main/services']" class="stretched-link"></a>
        </div>
      </div>End Service Item -->



      <a [routerLink]="['/main/services']" class="btn service-btn btn-sm d-block mx-auto text-center">See More</a>

    </div>

  </div>

</section><!-- /Featured Services Section -->


<!-- About Section -->
<section id="about" class="about section light-background">

  <div class="container">

    <div class="row gy-4">
      <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
        <img src="assets/img/about.jpg" class="img-fluid" alt="">
        <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
      </div>
      <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="200">
        <h3>TornixTech: Innovation and Excellence</h3>
        <p class="fst-italic">
          At TornixTech, we develop advanced technological solutions to meet the challenges of the modern world.
        </p>
        <ul>
          <li><i class="bi bi-check2-all"></i> <span>Custom software development for companies and startups.</span></li>
          <li><i class="bi bi-check2-all"></i> <span>System and network administration.</span></li>
          <li><i class="bi bi-check2-all"></i> <span>Asset management</span></li>
          <li><i class="bi bi-check2-all"></i> <span>Cybersecurity expertise to protect your data and
              infrastructure.</span></li>
        </ul>
        <p>
          Our mission is to support our customers in their digital transformation by offering services tailored to their
          specific needs.
          With a team of passionate experts, we offer innovative, high-performance solutions.
        </p>
      </div>
    </div>

  </div>

</section><!-- /About Section -->

<!-- Features Section -->
<section id="features" class="features section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Products</h2>
    <p>Discover our innovative solutions designed to meet your company's technological needs.</p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-4 align-items-center features-item">
      <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
        <img src="assets/img/logo-tornixtech/cashdash-logo.jpeg" class="img-fluid" alt="">
      </div>
      <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">
        <h3>CashDash: Effortless money transfer</h3>
        <p class="fst-italic">
          Your intelligent financial management solution. Discover our latest updates for an even smoother experience.
        </p>
        <ul>
          <li><i class="bi bi-check"></i><span><strong>Fats: </strong>transfer money instantly toanyone,
              anywhere.</span></li>
          <li><i class="bi bi-check"></i><span><strong>Secure: </strong>Advenced encryption ensurer your transaction are
              safe.</span></li>
          <li><i class="bi bi-check"></i><span><strong>Convention: </strong>user-friendly interface for smooth
              operation.</span></li>
        </ul>
      </div>
    </div><!-- Features Item -->

    <div class="row gy-4 align-items-center features-item">
      <div class="col-md-5 order-1 order-md-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
        <img src="assets/img/logo-tornixtech/keletick-logo-1.png" class="img-fluid" alt="" width="550px" height="550">
      </div>
      <div class="col-md-7 order-2 order-md-1" data-aos="fade-up" data-aos-delay="200">
        <h3>keletick: Your event booking companion</h3>
        <p class="fst-italic">
          Keletick simplifies event management, booking and tracking with an all-in-one solution, using advanced
          technology to deliver a fluid, intuitive experience for users and organizers.
        </p>
        <ul>
          <li><i class="bi bi-check"></i><span><strong>Seamless Booking: </strong>Book tickets for any event with
              ease.</span></li>
          <li><i class="bi bi-check"></i><span><strong>Variety: </strong>From concerts to conferences, find events that
              suit your interests.</span></li>
          <li><i class="bi bi-check"></i><span><strong>Notifications: </strong>Get reminders and updates about your
              bookings</span></li>
        </ul>
      </div>
    </div><!-- Features Item -->

    <div class="row gy-4 align-items-center features-item">
      <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out">
        <img src="assets/img/logo-tornixtech/flotys-logo.jpeg" class="img-fluid" alt="">
      </div>
      <div class="col-md-7" data-aos="fade-up">
        <h3>flotyshub: Intelligent fleet management for optimized mobility</h3>
        <p>
          Flotys is an advanced real-time fleet management and tracking solution. Thanks to its high-performance
          tracking tools and intuitive interface, Flotys enables you to optimize your vehicle management, improve your
          operational efficiency and reduce your costs.
        </p>
        <ul>
          <li><i class="bi bi-check"></i> <span>Real-time GPS tracking for fluid, responsive management.</span></li>
          <li><i class="bi bi-check"></i><span> Performance analysis and reporting for informed decision-making.</span>
          </li>
          <li><i class="bi bi-check"></i> <span>Route optimization and preventive maintenance tools.</span></li>
        </ul>
      </div>
    </div><!-- Features Item -->

    <!-- <div class="row gy-4 align-items-center features-item">
      <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out">
        <img src="assets/img/logo-tornixtech/flotys-logo.jpeg" class="img-fluid" alt="">
      </div>
      <div class="col-md-7" data-aos="fade-up">
        <h3>flotyshub: Intelligent fleet management for optimized mobility</h3>
        <p>
          Flotys is an advanced real-time fleet management and tracking solution. Thanks to its high-performance
          tracking tools and intuitive interface, Flotys enables you to optimize your vehicle management, improve your
          operational efficiency and reduce your costs.
        </p>
        <ul>
          <li><i class="bi bi-check"></i> <span>Real-time GPS tracking for fluid, responsive management.</span></li>
          <li><i class="bi bi-check"></i><span> Performance analysis and reporting for informed decision-making.</span>
          </li>
          <li><i class="bi bi-check"></i> <span>Route optimization and preventive maintenance tools.</span></li>
        </ul>
      </div>
    </div> -->
    <!-- Features Item -->

  </div>

</section><!-- /Features Section -->

<section class="pricing">
    <h2>💼 Nos offres WebExpress</h2>
    <div class="pricing-boxes">
        <div class="box">
            <h3>Mini</h3>
            <p>1 page web vitrine</p>
            <p class="price">49.000 FCFA</p>
        </div>
        <div class="box popular">
            <h3>Standard</h3>
            <p>3 pages (Accueil, À propos, Contact)</p>
            <p class="price">89.000 FCFA</p>
        </div>
        <div class="box">
            <h3>Business</h3>
            <p>Site complet + blog ou boutique</p>
            <p class="price">149.000 FCFA</p>
        </div>
    </div>
</section>

