.img-fluid {
    max-width: 50%;
    height: auto;
}

.service-btn{
    background: #1e4356;
    color: #fff;
    width: 15%;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}