 <!-- Page Title -->
 <div class="page-title dark-background">
  <div class="container position-relative">
    <h1>All Products</h1>
    <nav class="breadcrumbs">
      <ol>
        <li><a href="index.html">Home</a></li>
        <li class="current">All Products</li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->


<!-- Featured Services Section -->
<section id="featured-services" class="featured-services section">
<div class="container">
  <!-- <div class="section-head center wt-small-separator-outer">
    <div class="wt-small-separator site-text-primary">
      <div class="sep-leaf-left"></div>
      <div>Our Products</div>
    </div>
    <h2 class="wt-title">Explore Our Cutting-Edge Solutions</h2>
  </div> -->

  <div class="row gy-4">
    <div
      class="col-lg-3 col-md-6"
      *ngFor="let product of all_products; let i = index"
      [attr.data-aos]="'fade-up'"
      [attr.data-aos-delay]="(i + 1) * 100"
    >
      <div class="service-item item-cyan position-relative">
        <div class="icon">
          <img [src]="product.product_link" class="img-fluid" alt="{{ product.product_label }}">
        </div>
        <a [routerLink]="['/main/products/product-details', product.product_id]" title="More Details" class="stretched-link"  >
          <h3>{{ product.product_label }}</h3>
        </a>
        <p>
          {{ product.product_description }}
        </p>
      </div>
    </div>
  </div>
</div>
</section>